Repository timvw/langfuse-rs: changes, and which Codecov flags are due for each by the changed paths.
All: Base Client, Ergonomic Client

fix: correct release-plz configuration syntax
  release-plz.toml
Due: none

fix: add explicit job-level permissions for release-plz workflow
  .github/workflows/release-plz.yml
  docs/GITHUB_ACTIONS_SETUP.md
Due: none

chore: trigger release-plz workflow run
  .github/workflows/release-plz.yml
Due: none

fix: clean up workflow file formatting
  .github/workflows/release-plz.yml
Due: none

fix: add Java 17 setup for OpenAPI generator in CI
  .github/workflows/ci.yml
  openapitools.json
Due: none

chore: temporarily disable OpenAPI generation test in CI
  .github/workflows/ci.yml
Due: none

fix: update ergonomic crate to work with generated OpenAPI client
  langfuse-ergonomic/src/client.rs
  langfuse-ergonomic/src/error.rs
  langfuse-ergonomic/src/lib.rs
  langfuse-ergonomic/src/traces.rs
Due: Ergonomic Client

fix: resolve clippy warnings in generated and ergonomic code
  langfuse-client-base/src/lib.rs
  langfuse-ergonomic/src/traces.rs
Due: Base Client, Ergonomic Client

chore: improve clippy configuration for generated code
  .clippy.toml
  langfuse-client-base/Cargo.toml
  scripts/generate-openapi-client.sh
Due: Base Client

fix: Use working-directory instead of cd for Windows compatibility
  .github/workflows/ci.yml
Due: none

chore: Add manual workflow_dispatch trigger to release workflow
  .github/workflows/release-plz.yml
Due: none

feat: Add working example for trace creation
  langfuse-ergonomic/Cargo.toml
  langfuse-ergonomic/examples/test_trace.rs
Due: Ergonomic Client

chore: Remove unused top-level docs and examples
  docs/GITHUB_ACTIONS_SETUP.md
  docs/RELEASE_SETUP.md
  examples/basic_usage.rs
  examples/llm_chain.rs
Due: none

feat: Add comprehensive examples and update README
  README.md
  langfuse-ergonomic/Cargo.toml
  langfuse-ergonomic/examples/basic_trace.rs
  langfuse-ergonomic/examples/multiple_traces.rs
  langfuse-ergonomic/examples/test_trace.rs
  langfuse-ergonomic/examples/trace_with_metadata.rs
Due: Ergonomic Client

docs: Add CLAUDE.md with development instructions
  CLAUDE.md
Due: none

chore: Configure comprehensive Renovate automation
  renovate.json5
Due: none

docs: Add CONTRIBUTING.md and SECURITY.md
  CONTRIBUTING.md
  SECURITY.md
Due: none

fix: Make codecov checks informational only
  codecov.yml
Due: none

chore: disable code coverage for generated code
  .github/workflows/ci.yml
  codecov.yml
Due: none

docs: simplify CONTRIBUTING.md for generated code repository
  CONTRIBUTING.md
Due: none

docs: add archive notice and redirect to new repositories
  README.md
Due: none

docs: add archive notice and redirect to new repositories (#12)
  README.md
Due: none

Path conditions:
  Base Client: any of: langfuse-client-base/**, but not: examples/**/*, tests/**/*, benches/**/*, **/tests.rs, **/test_*.rs, **/*_test.rs
  Ergonomic Client: any of: langfuse-ergonomic/**, but not: examples/**/*, tests/**/*, benches/**/*, **/tests.rs, **/test_*.rs, **/*_test.rs
